<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<p th:text="'Id: ' +${user.getId()}">VALUE</p>
<p th:text="'Name: ' +${user.getUsername()}">VALUE</p>
<p th:text="'LastName: ' +${user.getLastName()}">VALUE</p>
<p th:text="'Age: ' +${user.getAge()}">VALUE</p>
<p th:text="'Roles: ' +${user.getRoles()}">VALUE </p>
<br><br>
<form th:method="DELETE" th:action="@{/user/delete/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br>
<a th:href="@{/logout}">
    <button>Logout</button>
</a>
</body>
</html>